<div *ngIf="isLoading$ | async">
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<app-error-message
  *ngIf="error$ | async"
  [message]="error$ | async"
></app-error-message>

<div class="sidebar" *ngIf="popularTags$ | async as popularTags">
  <p>Popular Tags</p>
  <div class="tag-list">
    <a
      *ngFor="let popularTag of popularTags"
      [routerLink]="['/tags', popularTag]"
      class="tag-default tag-pill"
    >
      {{ popularTag }}
    </a>
  </div>
</div>
